Repository mudkipdev/leaf, pull requests merged in 2023-03, with the labels that each got.

#2 Tag Commands
  config.toml
  leaf/bot.py
  leaf/extensions/tags.py
  leaf/utils/__init__.py
  leaf/utils/pagination.py
  migrations/0000-tags.sql
  migrations/0001-removable-tags.sql
  poetry.lock
  pyproject.toml
Labels: Type: Feature, Status: Complete

#16 Search command + autocomplete with view
  leaf/extensions/tags.py
  poetry.lock
  pyproject.toml
Labels: Type: Feature, Status: In Progress, Priority: Medium, Area: Tags

#21 Added the ability to rename tags.
  leaf/extensions/tags.py
Labels: Type: Feature, Status: Complete, Priority: Medium, Area: Tags

#22 Add pagination permissions
  leaf/extensions/tags.py
  leaf/utils/pagination.py
Labels: Type: Enhancement, Status: Complete, Priority: High

#24 Implemented a restore command.
  leaf/extensions/tags.py
  migrations/0000-tags.sql
  migrations/0002-restorable-tags.sql
Labels: Type: Feature, Status: In Progress, Priority: Medium, Area: Tags

#32 Added "watching over x servers" activity
  leaf/bot.py
Labels: Type: Enhancement, Status: Complete, Priority: High
